# ide
.idea/
.vscode/**/*
!.vscode/settings.json.default
.metals/**

# caches
__pycache__/
.gge_build_cache/

# pyenv
.python-version

# playground & debugging
gge/playground/

# test history
.hypothesis/

# rsync scripts
rsync_to_euler.bash
