# ide
.idea/
.vscode/**/*
!.vscode/settings.json.default
.metals/**

# caches
__pycache__/
.gge_build_cache/

# venv
.python-version
.venv/

# playground & debugging
gge/playground/
playground/

# experiment byproducts
gge/experiments/**/*.genotype
gge/experiments/**/*.png
gge/experiments/**/log/
gge/experiments/**/output/

# test history
.hypothesis/
