# ide
.idea/
.vscode/**/*
!.vscode/settings.json.default

# caches
__pycache__/

# pyenv
.python-version

# playground & debugging
gge/debug_playground.py
debug_data/
gge/playground.py

# test history
.hypothesis/
